.block-table {
  @extend .default-grid;

  .layout-content {
    margin-left: auto;
	  margin-right: auto;
  }

	h3 {
		@include h5-style();
	}

	.table-content {
		width: span(8 set-gutters 0);
		@media #{$bp-tab} {
			width: span(12);
		}

		p {
			
			&:first-of-type {
				font-weight: bold;
				font-family: $font-2;
				font-size: 1.2em;
			}
		}	

		ul {
			margin:0 0 0 30px;
			padding:0 0 0 20px;
			list-style:disc outside;

			li {
				font-style:italic;	
				@include default-font;
		    line-height: 30px;		
			}
		}
		h6{
			@include h5-style();
		}
	}
}

.table-links {
	width: span(3);
	@media #{$bp-desk} {
	}
	@media #{$bp-tab} {
		width: span(12);
	}

	div {
		@extend .clearfix;
		border-bottom: 1px solid $light-grey;
		padding:0 50px 40px 0;
		margin:0 0 15px 0;
	}

	span {
		display: block;
		line-height: 1.5em;
		vertical-align: right;
	}

	.link-title{
		margin-bottom: $block-padding / 2;
		@include h5-style();
		font-weight: 400;
	}

	.link-wrap {

		a{
			padding:0px;
			text-decoration:none;
			margin-bottom: $block-padding / 2;
		    font-weight: 400;
		}
	}

}
.table-links > div:last-child{
	border-bottom:none;
}
