.block-testimonials {
	background-color: black;
	padding: $block-padding 0 60px;

	.testimonials {
		text-align: center;
		width: span(8 at 2);

		@media #{$bp-tab} {
			width: span(12);
		}

		p {
			font-size: 18px;
			line-height: 36px;
			position: relative;
			text-align: center;
			margin-bottom: 40px;
			display: inline-block;

			&::before {
				content: "\201C";
				position: absolute;
				font-family: $font-2;
				font-size: 80px;
				top: 18px;
				left: -50px;
				color: $accent;
			}

			&::after {
				content: "\201D";
				position: absolute;
				top: 18px;
				right: -50px;
				font-family: $font-2;
				font-size: 80px;
				color: $accent;
			}
		}

		.cite-1 {
			@include h3-style();
			margin-bottom: 0;
			display: block;
			line-height: .8;
		}
	}
}

//slick styles

.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -35px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $dark-grey;

    cursor: pointer;

    color: transparent;
    outline: none;
    border: 0;
    -webkit-appearance: none;
}
.slick-dots li.slick-active button {
	background-color: $accent;
}