.block-generic_content {

  .layout-content {
	@extend .default-grid;
  }

	.gc-wrap {
		h3{
			@include h3-style();
		}
	}
	
	.gc-content{
		margin:0px;
		padding:0px;
			
		p{
			@include default-font;

			strong{
				@include h5-style();
			}
		}

		ul{
			margin:0 0 0 30px;
			padding:0 0 0 20px;
			list-style:disc outside;

			li{
				margin:0px;
				padding:0 0 0 20px;
				font-size:16px;
				color:#000;
				line-height:28px;
				font-style:italic;			
			}
		}
	}
}
