
// Libraries

@import "../../bower_components/normalize-css/normalize";
@import "../../bower_components/sanitize-css/sanitize";
@import "../../bower_components/susy/sass/susy";
@import "../../bower_components/magnific-popup/dist/magnific-popup";
@import "../../bower_components/slick-carousel/slick/slick.css";
// Optional: @import "../../bower_components/compass-mixins/lib/compass";
// Optional: @import "../../bower_components/animate.scss/scss/animate";
// Optional: @import "../../bower_components/wow/css/libs/animate";

// Theme Configuration

@import "variables";
@import "mixins";
@import "type";
@import "layout";

// views

@import "views/header";
@import "views/footer";

// Pages

@import "pages/home";

// Modules

//@import "../../includes/modules/modules";

html {
	background-color: #330033;
	color: white;
	font-family: 'Chivo', sans-serif;
	text-align:center;
}

p {
	color: white;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

a {
	&:hover, &:active, &:visited, &:link {
		color: white;
		text-decoration: none;
	}
}

img {
	max-width: 100%;
}

.page-content {
	p {
		font-size: 20px;
		line-height: 36px;
	}
}

main {
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 25vh;
		width: 100%;
		padding-top: 30px;

		@media only screen and (max-width: 480px) {
			flex-wrap: wrap;

			p:nth-of-type(2) {
				order: 3;
				width: 100%;
				margin-top: 20px;
			}
		}

		p {
			text-transform: uppercase;
			font-size: 14px;
			font-weight: heavy;
			line-height: 24px;
			margin: 0;
		}
	}
}

.banner {
	margin-bottom: 200px;

	img {
		width: 75%;
		height: auto;

		@media only screen and (max-width: 480px) {
			width: 100%;
		}
	}
}

.layout-content {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 1;

	@media only screen and (max-width: 1260px) {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.image-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 8%;
	padding-bottom: 8%;
	align-items: flex-start;

	figure {
		width: 48.5%;
		margin-bottom: 1.5%;
		height: auto;
		margin-bottom: 30px;
		overflow: hidden;
	
		img {
			width: 100%;
			height: auto;
			margin-bottom: 20px;
		}
	}

	figcaption a {
		transition: .25s color, .25s border-color, .25s transform;
		font-size: 18px;
		display: inline-block;
		border: 2px solid white;
		padding: 10px 15px;
		background-color: transparent;
		transform: scale(1);

		&:hover, &:focus {
			color: #66caff;
			border-color: #66caff;
			transition: .25s color, .25s border-color, .25s transform;
			transform: scale(1.1);
		}
	}
}

/* Fade effect */
.js body {
	opacity: 0;
	transition: opacity 0.6s;
}

.js body.render {
	opacity: 1;
}

/* Canvas positions */

.scene {
	position: absolute;
	top: 70px;
	left: 0;
}

.scene--left {
	width: 100vmin;
	height: 100vmin;
	transform: translate3d(-50vmin,0,0);
}

.scene--full {
	width: 100%;
	height: 100vh;
}

.scene--up {
	height: 150vmin;
	width: 150vmin;
	top: -50vh;
	left: 50%;
	margin-left: -75vmin;
}

.site-footer a {
	color: white;
	text-decoration: underline;
	padding-bottom: 50px;
}

/* Form */
#gform_wrapper_1 {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 200px;
	max-width: 470px;
	padding-left: 35px;
	padding-right: 35px;

	.ginput_container {
		margin-top: 0;
		margin-bottom: 30px;
	}

	.gfield_label {
		font-size: 14px;
		line-height: 1;
		margin-bottom: 20px;
		font-weight: normal;
	}

	input[type="text"] {
		width: 100%;
		padding: 15px 20px;
		font-size: 18px;
	}

	.gfield_checkbox {
		li {
			width: 49%;
			display: inline-block;
			height: 25px;

			@media only screen and (max-width: 480px) {
				display: block;
				width: 100%;
			}
		}

		label {
			padding-left: 40px;
			font-size: 18px;
		}

		label::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 25px;
			height: 25px;
			border: 2px solid white;
			text-align: center;
			font-size: 16px;
		}

		input:checked + label::before {
			content: "\2713";
		}
	}

	input[type="checkbox"] {
		visibility: hidden;
		position: relative;
	}

	input[type="submit"] {
		width: 100%;
		background-color: white;
		padding-top: 15px;
		padding-bottom: 15px;
		color: #330033;
		font-size: 18px;
		font-weight: bolder;
		border: 0; 
	}
}

.layout-inner.layout-content {
	text-align: left;
	max-width: 800px;
	margin-bottom: 100px;

	p {
		max-width: 800px;
		font-size: 14px;
	}

	h3 {
		color: white;
		font-size: 24px;
	}

	img {
		display: block;
		margin-top: 50px;
		margin-bottom: 50px;
	}
}
