.block-accordion {

  .layout-content {
    @extend .default-grid;
  }

  h3 {
    @include h5-style();
    text-align: center;
  }

  .accordion-wrapper {

    .accordion-content {
    }

    .accordion {
      border-bottom: 2px solid $light-grey;
      margin-top: 0;

      dt {
        position: relative;
        padding: 30px 40px;
        border-top: 2px solid $light-grey;

        a {
          @include h5-style();
          text-decoration: none;
        }

        svg {
          position: absolute;
          top: 33px; // match padding + extra to center
          right: 40px;
          width: 15px;
          height: 15px;

          &.acc-plus {
            display: block;
          }

          &.acc-minus {
            display: none;
          }
        }

        &.active {
          svg.acc-plus {
            display: none;
          }

          svg.acc-minus {
            display: block;
          }
        }
      }

      dd {
        margin: 0;
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }

  @media #{$bp-tab} {
    h3 {
      width: 100%;
      text-align: center;
    }

    .accordion-wrapper {
      width: 100%;
    }
  }

  @media #{$bp-mobile} {
    .accordion-wrapper {
      .accordion {
        dt, dd {
          padding-left: 20px;
          padding-right: 20px;
        }

        dt {
          svg {
            right: 20px;
          }
        }
      }
    }
  }
}

